body{
    margin-top:50px;
    //background:url('../res/grey.png');
    background:url('../res/tiny_grid.png');
//    background:url('../res/subtlenet2.png');
}
.glyphicon { margin-right:10px; }
.panel-body { padding:0px; }
.panel-body table tr td { padding-left: 15px }
.panel-body .table {margin-bottom: 0px; }
